/* Styles uniquement pour WelcomeSlider */
.welcome-slider .swiper-horizontal > .swiper-pagination-bullets, 
.welcome-slider .swiper-pagination-bullets.swiper-pagination-horizontal {
  min-height: 8vh;
}

.welcome-slider .swiper-pagination-bullet-active {
  background: #ff8300;
}

.welcome-slider .swiper-pagination-bullet {
  background: #ffc17f;
}

.welcome-slider .swiper-pagination-bullet {
  width: var(--swiper-pagination-bullet-width, var(--swiper-pagination-bullet-size, 12px));
  height: var(--swiper-pagination-bullet-height, var(--swiper-pagination-bullet-size, 12px));
  background: #ffc17f;
}
