.swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal {
min-height: 8vh;
}
.swiper-pagination-bullet-active {
  background: #ff8300;
}
.swiper-pagination-bullet {
  background: #ffc17f;
}
.swiper-pagination-bullet {
  width: var(--swiper-pagination-bullet-width, var(--swiper-pagination-bullet-size, 12px));
  height: var(--swiper-pagination-bullet-height, var(--swiper-pagination-bullet-size, 12px));
  background: #ffc17f;
}
