@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'ClashDisplay';
  src: url('./assets/fonts/ClashDisplay-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ClashDisplayBold';
  src: url('./assets/fonts/ClashDisplay-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'RobotoRegular';
  src: url('./assets/fonts/Roboto-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'RobotoBold';
  src: url('./assets/fonts/Roboto-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'emiExpandedBold';
  src: url('./assets/fonts/Stapel-SemiExpandedBold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
.titre-bold {
  font-family: 'ClashDisplayBold', Arial, sans-serif;
  font-weight: 900;
}



/* Configuration de la taille de la police de base pour l'utilisation de rem */
/* Taille de police pour les écrans plus grands (bureau) */
html {
  font-size: 2.5vmin;
}

/* Styles globaux */
body {
  margin: 0;
  padding: 0;
  font-family: 'RobotoRegular', sans-serif;
  color: #333;
  line-height: 1.5;
  background-color: #ffffff00;
}


/* Ajustements spécifiques pour les tailles d'écran mobile */
@media (max-width: 640px) { /* Ajustez 640px en fonction de vos besoins */
  html {
    font-size: 4vw; /* Utilisation de vw pour un dimensionnement réactif */
  }
}

/* Exemple d'ajustement pour les écrans plus larges (tablettes et ordinateurs) */
@media (min-width: 768px) and (max-width: 1024px) {
  html {
    font-size: 3.5vw; /* Ajustez la taille de police pour les écrans moyens */
  }
}
