@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'ClashDisplay';
  src: url('./assets/fonts/ClashDisplay-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ClashDisplayBold';
  src: url('./assets/fonts/ClashDisplay-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'RobotoRegular';
  src: url('./assets/fonts/Roboto-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'RobotoBold';
  src: url('./assets/fonts/Roboto-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'emiExpandedBold';
  src: url('./assets/fonts/Stapel-SemiExpandedBold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
/*
html {
  --ion-safe-area-left: 25px;
}*/

ion-modal {
  --ion-safe-area-top: 0;
}

:root {
  --white-color: #ffffff;
  --light-grey-color: #f7f7f7;
  --transparent-color: #f7f7f700;
  --mid-grey-color: #cccccc;
  --dark-color: #444444;
  --light-green-color: rgba(0, 204, 118, 1);
  --mid-green-color: rgba(0, 170, 149, 1);
  --dark-green-color: #aa8b00;
  --gradient-orange: linear-gradient(0deg,
      rgba(255, 131, 0) 0%,
      rgba(253, 160, 60) 100%);
  --yellow-color: #ffed47;
  --red-color: #d60202;
  --fb-blue-sapphire: #b6e1dd;
  --ion-background-color: #ffffff;
}
#root {
  height: 100dvh;
  width: 100dvw;
  min-height: -webkit-fill-available;
}

/* Configuration de la taille de la police de base pour l'utilisation de rem */
/* Taille de police pour les écrans plus grands (bureau) */
html {
  font-size: 16px;
  height: 100dvh;
  width: 100dvw;
  min-height: -webkit-fill-available;
}
/* Styles globaux */
body {
  margin: 0;
  padding: 0;
  font-family: 'RobotoRegular', sans-serif;
  color: #333;
  line-height: 1.5;
  background-color: var(--transparent-color);
  font-weight: 400;
  -webkit-font-smoothing: antialiased !important;
  height: 100dvh;
  width: 100dvw;
  min-height: -webkit-fill-available;
  position: fixed;
  -webkit-overflow-scrolling: touch;
}
.wrapper {
  width: 100dvw;
  height: 100dvh;
  overflow-y: auto;
}
.details {
  max-width: 500px;
  left: calc(50vw - 250px);
  margin: 0 auto;
}


@media (max-width: 532px) {
  .details {
    left: 0;
  }
}
.titre-bold {
  font-family: 'ClashDisplayBold', Arial, sans-serif;
  font-weight: 900;
}

.titre-roboto-bold {
  font-family: 'RobotoBold', Arial, sans-serif;
  font-weight: 900;
}

 
@media (max-width:532px) {

  html {
    font-size: 4dvw;
  }
}
@media (max-width:321px) {

  html {
    font-size: 3.5dvw;
  }
}

/*
Exemple d'ajustement pour les écrans plus larges (tablettes et ordinateurs) 
@media (min-width: 768px) and (max-width: 1024px) {
  html {
    font-size: 3.5vw;
  }
}
*/
ion-chip {
  --color: #0067ff;
  border-color: #0067ff;
  border: solid 1px;
  --background: #ffffff00;
}

ion-chip:hover {
  --background: #0067ff;
  --color: #ffffff;
}

/* custom-styles.css */
.ion-button {
  --background: #f97316;
  /* Couleur de fond par défaut */
  --background-hover: #ea580c;
  /* Couleur de fond au survol */
  --background-activated: #c2410c;
  /* Couleur de fond lorsque le bouton est cliqué */
  --background-focused: #c2410c;
  /* Couleur de fond lorsque le bouton est focalisé */

  --color: white;
  /* Couleur du texte */

  --border-radius: 0.5rem;
  /* Ajoute un arrondi similaire à Tailwind */
  --border-color: transparent;
  /* Pas de bordure visible */
  --border-style: solid;

  --box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.25);
  /* Ajoute une ombre douce */

  --ripple-color: rgba(255, 255, 255, 0.3);
  /* Couleur de l'effet ripple */
}

.marker-effect {
  background-image: linear-gradient(to bottom, transparent 40%, #6dc3bc 50%);
  border-radius: 10px;
}
.marker-effect-orange,.marker-effect-cyan  {
  position: relative;
  display: inline-block;
}

.marker-effect-orange::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0.15em; /* Ajustez pour bien positionner le surlignage */
  height: 30%; /* Ajustez la hauteur du surlignage */
  width: 100%;
  background-color: #ff9100; /* Couleur orange du surlignage */
  z-index: -1;
  border-radius: 0.25em; /* Arrondir les coins si nécessaire */
}
.marker-effect-cyan::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0.15em; /* Ajustez pour bien positionner le surlignage */
  height: 40%; /* Ajustez la hauteur du surlignage */
  width: 100%;
  background-color: #a9d7d4; /* Couleur orange du surlignage */
  z-index: -1;
  border-radius: 0.25em; /* Arrondir les coins si nécessaire */
}

input[type="range"]::-webkit-slider-thumb {
  appearance: none;
  width: 22px;
  height: 22px;
  background-color: #dc2626; /* couleur rouge du curseur */
  border-radius: 50%;
  cursor: pointer;
}
input[type="range"]::-moz-range-thumb {
  width: 22px;
  height: 22px;
  background-color: #dc2626;
  border-radius: 50%;
  cursor: pointer;
}
.cadreHome {
 
    background: radial-gradient(farthest-side at top right, #0000 98%, #ffffff) bottom left,
                radial-gradient(farthest-side at top left, #0000 98%, #ffffff) bottom right,
                #ffffff00;
    background-size: 2rem 2rem;
    background-repeat: no-repeat;
    background-origin: padding-box;
}
.step-description::before {
  content: "•";  /* Utilisation d'un point */
  color: #f00;    /* Vous pouvez changer la couleur selon vos besoins */
  font-size: 1.5rem;  /* Ajustez la taille du point */
  margin-right: 8px;   /* Espace entre le point et le texte */
}




.swiper-slide {
  min-height: 200px;
}
.swiper-button-next,
.swiper-button-prev {
  opacity: 0.2; /* Réduit l'opacité */
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  opacity: 0.5; /* Augmente l'opacité au survol */
}

.swiper-button-next {
  right: -1px; /* Position à l'extrémité de la carte */
}

.swiper-button-prev {
  left: -1px; /* Position à l'extrémité de la carte */
}

/* css pour les petits pop-up de fb */
.custom-ion-modal {
  --background: transparent; /* Fond transparent */
  display: flex;
  align-items: center;
  justify-content: center;
  --height: 100%;
    --width: 100%;
}

.custom-ion-modal .modal-wrapper {
  background: transparent; /* Supprimer le fond du conteneur */
  box-shadow: none; /* Supprimer l'ombre */
}

.custom-ion-modal .overlay {
  background-color: rgba(0, 0, 0, 0.5); /* Fond semi-transparent pour l'overlay */
}
.custom-ion-modal .ion-page {
  justify-content: center !important;
}

/**/