@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'ClashDisplay';
  src: url('./assets/fonts/ClashDisplay-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ClashDisplayBold';
  src: url('./assets/fonts/ClashDisplay-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'pallybold';
  src: url('./assets/fonts/Pally-Bold.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Archivo';
  src: url('./assets/fonts/Archivo-Regular.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Archivo';
  src: url('./assets/fonts/Archivo-Bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Archivo';
  src: url('./assets/fonts/Archivo-Italic.otf') format('opentype');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'Archivo';
  src: url('./assets/fonts/Archivo-BoldItalic.otf') format('opentype');
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: 'ArchivoExtraBold';
  src: url('./assets/fonts/Archivo-ExtraBold.otf') format('opentype');
}
@font-face {
  font-family: 'ArchivoLight';
  src: url('./assets/fonts/Archivo-Light.otf') format('opentype');
}
@font-face {
  font-family: 'ArchivoLightItalic';
  src: url('./assets/fonts/Archivo-LightItalic.otf') format('opentype');
}
ion-loading.custom-loading {
  --background: #fad4ce;
  --spinner-color: #c6312b;

  color: #c6312b;
}
ion-loading.custom-loading-help {
  --background: #e1f5f4;
  --spinner-color: #0F548D;
  color: #0F548D;
}
.Archivo{
  font-family: 'Archivo';
}
.ArchivoLightItalic{
  font-family: 'ArchivoLightItalic';
}
.ArchivoExtraBold{
  font-family: 'ArchivoExtraBold';
}
.ArchivoLight{
  font-family: 'ArchivoLight';
}
.ArchivoBold{
  font-family: 'Archivo';
  font-weight: bold;
}
.ArchivoBoldItalique{
  font-weight: bold;
  font-style: italic;
}
.ArchivoItalic{
  font-weight: normal;
  font-style: italic;
}
.pallybold{
  font-family: 'pallybold';
}
/*
html {
  --ion-safe-area-left: 25px;
}*/


:root {
  --white-color: #ffffff;
  --ion-background-color: #ffffff;
  height: 100vh;
  width: 100vw;
}

/* Configuration de la taille de la police de base pour l'utilisation de rem */
/* Taille de police pour les écrans plus grands (bureau) */
html {
  font-size: 16px;
  height: 100vh;
  width: 100vw;
}
/* Styles globaux */
body {
  padding: 0;
  font-family: 'Archivo';
  color: #333;
  line-height: 1.5;
  background-color: var(--transparent-color);
  font-weight: 400;
  -webkit-font-smoothing: antialiased !important;
  height: 100%;
  width: 100%;
  position: fixed;
  -webkit-overflow-scrolling: touch;
}


.wrapper {
  width: 100vw;
  height: 100vh;
  overflow-y: auto;
}
.details {
  max-width: 500px;
  left: calc(50vw - 250px);
  margin: 0 auto;
}


@media (max-width: 532px) {
  .details {
    left: 0;
  }
}
.titre-bold {
  font-family: 'ClashDisplayBold', Arial, sans-serif;
  font-weight: 900;
}

.titre-roboto-bold {
  font-family: 'Archivo', Arial, sans-serif;
  font-weight: 900;
}

 
@media (max-width:532px) {

  html {
    font-size: 4dvw;
  }
}
@media (max-width:321px) {

  html {
    font-size: 3.5dvw;
  }
}

/*
Exemple d'ajustement pour les écrans plus larges (tablettes et ordinateurs) 
@media (min-width: 768px) and (max-width: 1024px) {
  html {
    font-size: 3.5vw;
  }
}
*/
ion-chip {
  --color: #0067ff;
  border-color: #0067ff;
  border: solid 1px;
  --background: #ffffff00;
}

ion-chip:hover {
  --background: #0067ff;
  --color: #ffffff;
}

/* custom-styles.css */
.ion-button {
  --background: #f97316;
  /* Couleur de fond par défaut */
  --background-hover: #ea580c;
  /* Couleur de fond au survol */
  --background-activated: #c2410c;
  /* Couleur de fond lorsque le bouton est cliqué */
  --background-focused: #c2410c;
  /* Couleur de fond lorsque le bouton est focalisé */

  --color: white;
  /* Couleur du texte */

  --border-radius: 0.5rem;
  /* Ajoute un arrondi similaire à Tailwind */
  --border-color: transparent;
  /* Pas de bordure visible */
  --border-style: solid;

  --box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.25);
  /* Ajoute une ombre douce */

  --ripple-color: rgba(255, 255, 255, 0.3);
  /* Couleur de l'effet ripple */
}

.marker-effect {
  background-image: linear-gradient(to bottom, transparent 40%, #6dc3bc 50%);
  border-radius: 10px;
}
.marker-effect-orange,.marker-effect-cyan  {
  position: relative;
  display: inline-block;
}

.marker-effect-orange::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0.15em; /* Ajustez pour bien positionner le surlignage */
  height: 30%; /* Ajustez la hauteur du surlignage */
  width: 100%;
  background-color: #ff9100; /* Couleur orange du surlignage */
  z-index: -1;
  border-radius: 0.25em; /* Arrondir les coins si nécessaire */
}
.marker-effect-cyan::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0.15em; /* Ajustez pour bien positionner le surlignage */
  height: 40%; /* Ajustez la hauteur du surlignage */
  width: 100%;
  background-color: #a9d7d4; /* Couleur orange du surlignage */
  z-index: -1;
  border-radius: 0.25em; /* Arrondir les coins si nécessaire */
}

input[type="range"]::-webkit-slider-thumb {
  appearance: none;
  width: 22px;
  height: 22px;
  background-color: #dc2626; /* couleur rouge du curseur */
  border-radius: 50%;
  cursor: pointer;
}
input[type="range"]::-moz-range-thumb {
  width: 22px;
  height: 22px;
  background-color: #dc2626;
  border-radius: 50%;
  cursor: pointer;
}
.cadreHome {
 
    background: radial-gradient(farthest-side at top right, #0000 98%, #ffffff) bottom left,
                radial-gradient(farthest-side at top left, #0000 98%, #ffffff) bottom right,
                #ffffff00;
    background-size: 2rem 2rem;
    background-repeat: no-repeat;
    background-origin: padding-box;
}
.step-description::before {
  content: "•";  /* Utilisation d'un point */
  color: #f00;    /* Vous pouvez changer la couleur selon vos besoins */
  font-size: 1.5rem;  /* Ajustez la taille du point */
  margin-right: 8px;   /* Espace entre le point et le texte */
}




.swiper-slide {
  min-height: 200px;
}
.swiper-button-next,
.swiper-button-prev {
  opacity: 0.2; /* Réduit l'opacité */
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  opacity: 0.5; /* Augmente l'opacité au survol */
}

.swiper-button-next {
  right: -1px; /* Position à l'extrémité de la carte */
}

.swiper-button-prev {
  left: -1px; /* Position à l'extrémité de la carte */
}

/* css pour les petits pop-up de fb */
.custom-ion-modal {
  --background: transparent; /* Fond transparent */
  display: flex;
  align-items: center;
  justify-content: center;
  --height: 100%;
    --width: 100%;
}

.custom-ion-modal .modal-wrapper {
  background: transparent; /* Supprimer le fond du conteneur */
  box-shadow: none; /* Supprimer l'ombre */
}

.custom-ion-modal .overlay {
  background-color: rgba(0, 0, 0, 0.5); /* Fond semi-transparent pour l'overlay */
}
.custom-ion-modal .ion-page {
  justify-content: center !important;
}

/*
.swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal {
  position: relative;
    top: 100%;
    z-index: 50;
padding-top: 1rem;
}
.swiper-pagination-bullet{
  background: #c32721;
}
*/
/* Styles pour le slider de recette */
.recipe-slider .swiper-pagination-bullet {
  background: #ff0000; /* Couleur rouge */
}

.recipe-slider .swiper-pagination-bullet-active {
  background: #d00000; /* Rouge plus foncé pour l'actif */
}

.recipe-slider .swiper-pagination {
  bottom: 0px; /* Position en bas du slider */
}

.recipe-slider .swiper-pagination-bullets {
  display: flex;
  justify-content: center; /* Centrer les points */
  align-items: center;
  gap: 8px; /* Espacement entre les points */
}

.recipe-slider .swiper-pagination-bullet {
  width: 12px; /* Taille des points */
  height: 12px;
  border-radius: 50%;
}

.custom-modal-background {
  background-image: url('/src/assets/fb/popup/background.svg') !important;
  background-repeat: no-repeat !important;
  background-size: contain !important;
  background-position: center !important;
}
/* Exemple d'utilisation d'un padding spécifique aux safe areas */
.app-container {
  padding-top: var(--ion-safe-area-top) !important;
}

.background_titre{
  background-image: url('/src/assets/fb/barre fond-07.svg') !important;
  background-repeat: no-repeat !important;
  background-size: contain !important;
  background-position: center !important;
}
.background_plus{
  background-image: url('/src/assets/fb/titreBg.svg') !important;
  background-repeat: no-repeat !important;
  background-size: contain !important;
  background-position: center !important;
}
.toolbar {
  padding-top: 300px;
}
.intro0{
  background-image: url('/src/assets/intro/BIENVENUE0.svg') !important;
    background-position: center calc(65%);
  background-size:92%;
}
.intro4{
  background-image: url('/src/assets/intro/BIENVENUEV3-14.svg') !important;
}
.tico_intro{
  background-image: url('/src/assets/home/tico_intro.svg') !important;
}

.recetteBg{
  background-image: url('/src/assets/recettes/recipeBg.svg') !important;
}
.bgImage{
  background-image: url('/src/assets/tips/bgImage.svg') !important;
  background-size: 78% !important;
  background-position-x: center !important;
  background-position-y: top !important;
  min-height: 18rem;
}
.productBg{
  background-image: url('/src/assets/history/productBg.svg') !important;
}
.backgroundHistorique {
  background-image: url('/src/assets/history/background.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.backgroundRecette {
  background-image: url('/src/assets/recettes/background.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.backgroundTips {
  background-image: url('/src/assets/tips/bachground.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
ion-tab-bar[selected-tab="tab4"],ion-tab-bar[selected-tab="tab5"] {
  display: none;
}
